<div class="max-w-4xl mx-auto">
  <form
    [formGroup]="categoryForm"
    (ngSubmit)="saveCategory()"
    class="p-4 w-full max-w-7xl mx-auto"
  >
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="grid md:grid-cols-2 gap-6">
          <div class="flex flex-col space-y-4 p-4">
            <img
              src="https://ui.angular-material.dev/app-ui/logo.svg"
              alt="Logo"
              height="48"
              width="48"
              class="inline"
            />
            <h1 class="text-3xl text-white">Add Category</h1>
          </div>

          <div class="flex flex-col space-y-4 p-4 md:mt-12">
            <app-input-text
              label="Title"
              [control]="title"
              placeholder="Enter category title"
            ></app-input-text>

            <app-input-text
              label="Description"
              [control]="description"
              placeholder="Enter category description"
            ></app-input-text>

            <app-input-text
              label="Css color"
              [control]="css_color"
              placeholder="Enter css color"
            ></app-input-text>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions align="end" class="gap-4">
        <button mat-flat-button type="submit">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
