<div class="w-3/5 grid grid-cols-3 gap-4 p-4 mx-auto">
  <div *ngFor="let post of posts" class="card aspect-square overflow-hidden">
    <mat-card appearance="outlined" class="h-full flex flex-col">
      <mat-card-header class="max-w-2xl justify-center gap-4 items-center">
        <mat-chip-set>
          <mat-chip
            *ngFor="let category of post.categories"
            class="badge"
            [ngStyle]="{ 'background-color': category.css_color }"
          >
            {{ category.title }}
          </mat-chip>
        </mat-chip-set>
      </mat-card-header>
      <mat-card-content class="flex flex-colmax-w-2xl justify-center gap-4">
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>{{ post.userAlias }}</mat-card-subtitle>
        <p>{{ post.description }}</p>
        <p>Publication date: {{ post.publication_date | formatDate: 3 }}</p>
      </mat-card-content>

      <mat-card-actions class="flex flex-row gap-4 justify-center">
        <button
          mat-button
          [disabled]="!showButtons"
          (click)="like(post.postId)"
        >
          <mat-icon>thumb_up</mat-icon>
          {{ post.num_likes }}
        </button>
        <button
          mat-button
          [disabled]="!showButtons"
          (click)="dislike(post.postId)"
        >
          <mat-icon>thumb_down</mat-icon>
          {{ post.num_dislikes }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
