<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>

<div class="max-w-4xl mx-auto">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="p-4 w-full max-w-7xl mx-auto"
  >
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="grid md:grid-cols-2 gap-6 max-w-7xl mx-auto">
          <div class="flex flex-col space-y-4 p-4">
            <img
              src="https://ui.angular-material.dev/app-ui/logo.svg"
              alt="Logo"
              height="48"
              width="48"
              class="inline"
            />
            <h1 class="text-3xl text-white">Sign up</h1>
            <p class="text-white">to create your account</p>
          </div>

          <div class="flex flex-col space-y-4 p-4 md:mt-12">
            <!-- Name -->
            <mat-form-field class="w-full">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Ex: John"
              />
              <mat-error class="text-error">{{
                getErrorMessage(name)
              }}</mat-error>
            </mat-form-field>

            <!-- surname -->
            <mat-form-field class="w-full">
              <mat-label>First Surname</mat-label>
              <input
                type="text"
                matInput
                formControlName="surname_1"
                placeholder="Ex: Doe"
              />
              <mat-error class="text-error">{{
                getErrorMessage(surname_1)
              }}</mat-error>
            </mat-form-field>

            <!-- surname2 -->
            <mat-form-field class="w-full">
              <mat-label>Second Surname</mat-label>
              <input
                type="text"
                matInput
                formControlName="surname_2"
                placeholder="Ex: Smith"
              />
              <mat-error class="text-error">{{
                getErrorMessage(surname_2)
              }}</mat-error>
            </mat-form-field>

            <!-- alias -->
            <mat-form-field class="w-full">
              <mat-label>Alias</mat-label>
              <input
                type="text"
                matInput
                formControlName="alias"
                placeholder="Ex: user_alias"
              />
              <mat-error class="text-error">{{
                getErrorMessage(alias)
              }}</mat-error>
            </mat-form-field>

            <!-- birth_date -->
            <mat-form-field class="w-full">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="birth_date"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error class="text-error">{{
                getErrorMessage(birth_date)
              }}</mat-error>
            </mat-form-field>

            <!-- email -->
            <mat-form-field class="w-full">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="Ex: user@uoc.com"
              />
              <mat-error class="text-error">{{
                getErrorMessage(email)
              }}</mat-error>
            </mat-form-field>

            <!-- password -->
            <mat-form-field class="w-full">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                placeholder="Ex: ********"
              />
              <mat-error class="text-error">{{
                getErrorMessage(password)
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <!-- Buttons -->
      <mat-card-actions align="end" class="gap-4">
        <button mat-button (click)="toHomePage()">Cancel</button>
        <button mat-flat-button type="submit">Register</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
