<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>

<div class="max-w-4xl mx-auto">
  <form
    [formGroup]="postForm"
    (ngSubmit)="savePost()"
    class="p-4 w-full max-w-7xl mx-auto"
  >
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="grid md:grid-cols-2 gap-6">
          <div class="flex flex-col space-y-4 p-4">
            <img
              src="https://ui.angular-material.dev/app-ui/logo.svg"
              alt="Logo"
              height="48"
              width="48"
              class="inline"
            />
            <h1 class="text-3xl text-white">Add Post</h1>
            <!-- <p class="text-white">to continue to Application</p> -->
          </div>

          <div class="flex flex-col space-y-4 p-4 md:mt-12">
            <mat-form-field class="w-full">
              <mat-label>Title</mat-label>
              <input
                type="text"
                matInput
                formControlName="title"
                placeholder="Enter post title"
              />
              <mat-error class="text-error">{{
                getErrorMessage(title)
              }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
              <mat-label>Description</mat-label>
              <input
                matInput
                type="text"
                formControlName="description"
                placeholder="Enter post description"
              />
              <mat-error class="text-error">{{
                getErrorMessage(description)
              }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="publication_date"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error class="text-error">{{
                getErrorMessage(publication_date)
              }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
              <mat-label>Choose categories</mat-label>
              <mat-select>
                <mat-option>Category</mat-option>
                @for (category of categoriesList; track category) {
                  <mat-option [value]="category.categoryId">{{
                    category.title
                  }}</mat-option>
                }
              </mat-select>
              <mat-error class="text-error">{{
                getErrorMessage(categories)
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions align="end" class="gap-4">
        <button mat-flat-button type="submit">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
