<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>

<div class="max-w-4xl mx-auto">
  <form
    [formGroup]="postForm"
    (ngSubmit)="savePost()"
    class="p-4 w-full max-w-7xl mx-auto"
  >
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="grid md:grid-cols-2 gap-6">
          <div class="flex flex-col space-y-4 p-4">
            <img
              src="https://ui.angular-material.dev/app-ui/logo.svg"
              alt="Logo"
              height="48"
              width="48"
              class="inline"
            />
            <h1 class="text-3xl text-white">Add Post</h1>
          </div>

          <div class="flex flex-col space-y-4 p-4 md:mt-12">
            <app-input-text
              label="Title"
              [control]="title"
              placeholder="Enter post title"
            ></app-input-text>

            <app-input-text
              label="Description"
              [control]="description"
              placeholder="Enter post description"
            ></app-input-text>

            <app-input-date
              label="Choose a date"
              [control]="publication_date"
              placeholder="MM/DD/YYYY"
            ></app-input-date>

            <mat-form-field class="w-full">
              <mat-label>Choose categories</mat-label>
              <mat-select formControlName="categories" multiple>
                @for (category of categoriesList; track category) {
                  <mat-option [value]="category.categoryId">{{
                    category.title
                  }}</mat-option>
                }
              </mat-select>
              <mat-error class="text-error">{{
                getErrorMessage(categories)
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions align="end" class="gap-4">
        <button mat-flat-button type="submit">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
