<mat-form-field class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="hide ? 'password' : 'text'"
    [formControl]="control"
    [placeholder]="placeholder"
    autocomplete="new-password"
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="hide = !hide"
    [attr.aria-label]="'Mostrar u ocultar contraseña'"
  >
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="control.invalid && (control.dirty || control.touched)">
    {{ errorMessage || 'Contraseña no válida' }}
  </mat-error>
</mat-form-field>
