<mat-card class="h-full flex flex-col">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>
      <span>{{ post.userAlias }}</span>
      ·
      <span>{{ post.publication_date | formatDate: 3 }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="flex-1 gap-3">
    <mat-chip-set class="mt-2" *ngIf="post.categories">
      <mat-chip
        *ngFor="let category of post.categories"
        [ngStyle]="{ 'background-color': category.css_color }"
        class="!text-white !text-xs"
      >
        {{ category.title }}
      </mat-chip>
    </mat-chip-set>
    <p class="text-sm text-gray-500">
      {{ post.description }}
    </p>
  </mat-card-content>

  <mat-card-actions class="flex flex-row items-center gap-4 px-4 py-2">
    <ng-container>
      <button
        mat-button
        [disabled]="!showButtons"
        (click)="onLike()"
        class="w-full"
      >
        <mat-icon>thumb_up</mat-icon>
        {{ post.num_likes }}
      </button>
      <button
        mat-button
        [disabled]="!showButtons"
        color="warn"
        (click)="onDislike()"
        class="w-full"
      >
        <mat-icon>thumb_down</mat-icon>
        {{ post.num_dislikes }}
      </button>
    </ng-container>
  </mat-card-actions>
</mat-card>
