<div class="max-w-4xl mx-auto">
  <form
    [formGroup]="profileForm"
    (ngSubmit)="updateUser()"
    class="p-4 w-full max-w-7xl mx-auto"
  >
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="grid md:grid-cols-2 gap-6 max-w-7xl mx-auto">
          <div class="flex flex-col space-y-4 p-4">
            <img
              src="https://ui.angular-material.dev/app-ui/logo.svg"
              alt="Logo"
              height="48"
              width="48"
              class="inline"
            />
            <h1 class="text-3xl text-white">Hola, {{ profileUser.name }}</h1>
          </div>

          <div class="flex flex-col space-y-4 p-4 md:mt-12">
            <app-input-text
              label="Name"
              [control]="name"
              placeholder="Ex: John"
            ></app-input-text>

            <app-input-text
              label="First Surname"
              [control]="surname_1"
              placeholder="Ex: Doe"
            ></app-input-text>

            <app-input-text
              label="Second Surname"
              [control]="surname_2"
              placeholder="Ex: Smith"
            ></app-input-text>

            <app-input-text
              label="Alias"
              [control]="alias"
              placeholder="Ex: user_alias"
            ></app-input-text>

            <app-input-date
              label="Choose a date"
              [control]="birth_date"
              placeholder="MM/DD/YYYY"
            ></app-input-date>

            <app-input-email
              label="Email"
              [control]="email"
              placeholder="Ex: user@uoc.com"
            ></app-input-email>

            <app-input-password
              label="Password"
              [control]="password"
            ></app-input-password>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions align="end" class="gap-4">
        <button mat-flat-button type="submit">Update User</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
