<div class="max-w-4xl mx-auto">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="w-full md:max-w-7xl mx-auto p-4 md:p-6">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
          <div class="flex flex-col gap-2">
            <h6 class="text-headline-small font-headline-small">Post List</h6>
            <p class="text-body-medium font-body-medium">
              A list of all the posts in your account including their id, title,
              description and like/dislike counts.
            </p>
          </div>
          <div class="flex md:justify-end">
            <button mat-flat-button (click)="createPost()">Add post</button>
          </div>
        </div>

        <table mat-table [dataSource]="posts" class="mt-6">
          <!-- Id Column -->
          <ng-container matColumnDef="postId">
            <th mat-header-cell *matHeaderCellDef>Post ID</th>
            <td mat-cell *matCellDef="let element" class="font-medium">
              {{ element.postId }}
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="text-gray-500 dark:text-gray-400"
            >
              {{ element.title }}
            </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="text-gray-500 dark:text-gray-400"
            >
              {{ element.description }}
            </td>
          </ng-container>

          <!-- # Likes Column -->
          <ng-container matColumnDef="num_likes">
            <th mat-header-cell *matHeaderCellDef># Likes</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="text-gray-500 dark:text-gray-400"
            >
              {{ element.num_likes }}
            </td>
          </ng-container>

          <!-- # Dislikes Column -->
          <ng-container matColumnDef="num_dislikes">
            <th mat-header-cell *matHeaderCellDef># Dislikes</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="text-gray-500 dark:text-gray-400"
            >
              {{ element.num_dislikes }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="flex items-center gap-4">
                <button matButton="text" (click)="updatePost(element.postId)">
                  Update
                </button>
                <button
                  matButton="text"
                  class="!text-red-400"
                  (click)="deletePost(element.postId)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'postId',
              'title',
              'description',
              'num_likes',
              'num_dislikes',
              'actions',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'postId',
                'title',
                'description',
                'num_likes',
                'num_dislikes',
                'actions',
              ]
            "
          ></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
